.background-image {
    background-image: url('../img/stoica-ionela-CoNsEK5iHug-unsplash.jpg');
    background-position: center;
    height: 750px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
}